* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html,body {
    place-items: center;
    font-family: var(--font-family);
    background: linear-gradient(to right #9796f0, #fbc7d4);
    overflow: hidden;
}